<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Carros</title>
  </head>
  <body>
    <h2>Carros</h2>
    <table>
      <thead>
      <tr>
        <td>ID</td>
        <td>Marca</td>
        <td>Modelo</td>
        <td>Cor</td>
        <td>Placa</td>
      </tr>
    </thead>
      <tbody>
      <% for(var i = 0; i < carros.length; i++) {%>
      <tr>
        <td><%= carros[i].id_carro%></td>
        <td><%= carros[i].marca%></td>
        <td><%= carros[i].modelo%></td>
        <td><%= carros[i].cor%></td>
        <td><%= carros[i].placa%></td>
      </tr>
      <% } %>
    </tbody>
    </table>
  </body>
</html>
